[Unit]
Description=Google Alarm Clock Service
After=lcdd.service

[Service]
Type=simple
Restart=always
User=pi
RestartSec=10
Environment=PATH=/usr/local/bin:/usr/bin:/bin
Environment=PERL_MM_OPT="INSTALL_BASE=/home/pi/perl5"
Environment=PERL_LOCAL_LIB_ROOT=/home/pi/perl5
Environment=PERL5LIB=/home/pi/perl5/lib/perl5

WorkingDirectory=/home/pi/google-alarmclock
ExecStart=/usr/bin/perl /home/pi/google-alarmclock/clock.pl

[Install]
WantedBy=multi-user.target
